body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 180%;
    
}

h1, h2 {
    text-align: center;
}

h1 {
    margin-top: 10%;
    margin-bottom: 2%;
}

h2 {
    margin-top: 2%;
    margin-bottom: 2%;
}

.section-solution, .ul-comments {
    margin-left: 1%;
}

.section-solution {
    margin-bottom: 2%;
}   